@font-face {
    font-family: "Helvetica Neue";
    src: url("HelveticaNeue-Thin.otf");
}

/* Main colors */

:root {
    --light: #DEE4E7;
    --dark: #37474F;
    --black: #222222;
    --blue: #0071BC;
    --bluer: #0067C5;
}

/* basic font size */

html {
    font-size: 16px;
}

body {
    margin: 0 auto;
    background-color: var(--dark);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    /* font-family: normal 15px/1.9em 'Merriweather', Georgia, serif; */
    /* font-family: "Computer Modern Sans", Geneva, Verdana, sans-serif; */
}

header {
    /* text-align: center; */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: rgb(0, 0, 0);
    width: 100%;
    /* For now  */
    /* min-height: 50px; */
    height: 16vh;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#sub-logo {
    grid-column: 1/2;
    grid-row: 1/4;
    height: 100%;
    align-self: center;
    justify-self: center;
}

header h2 {
    font-size: 1rem;
    color: var(--light);
    grid-column: 2/5;
    grid-row: 1/4;
    justify-self: center;
}

header a {
    display: block;
    grid-column: 1/2;
    grid-row: 1/4;
    height: 100%;
    width: 100%;
    z-index: 2;
}

#main-page-logo {
    grid-column: 2/4;
    grid-row: 1/4;
    height: 100%;
    /* background-color: green; */
    /* */
    align-self: center;
    justify-self: center;
}

#main-menu {
    /* maximumheigth and width */
    width: 100%;
    height: 84vh;
}

#main-menu-elements {
    padding: 0;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "eps1 eps2" "eps3 eps4";
    /* background-color: bisque; */
    justify-items: center;
    align-items: center;
}

.nav-episode {
    list-style-type: none;
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
}

.nav-episode a {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    padding: 2px;
    /* background-color: var(--dark); */
    border-radius: 3px;
    color: var(--light);
    top: 50%;
    border: 1px solid var(--dark);
    /* text-transform: uppercase; */
    text-shadow: 0px 2px 1px var(--dark);
    left: 50%;
    position: relative;
    text-align: center;
    /* letter-spacing: 1em; */
    transform: translate(-50%, -50%);
    /* background-color: green; */
}

/* nav a;after is a reflection */

.nav-episode a:before {
    content: "";
    position: absolute;
    background-color: var(--light);
    /* background-image: linear-gradient( to right, var(--light), var(--dark), var(--light)); */
    width: 100%;
    height: 2px;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 600ms ease-in-out 0s;
}

/* .nav-episode a:hover::before { */

li.nav-episode.ep1:hover a::before,
li.nav-episode.ep2:hover a::before,
li.nav-episode.ep3:hover a::before,
li.nav-episode.ep4:hover a::before {
    visibility: visible;
    transform: scaleX(1);
}

.ep1,
.ep2,
.ep3,
.ep4 {
    text-decoration: none;
}

.ep1 {
    overflow: hidden;
    position: relative;
    grid-area: eps1;
}

.ep1::before {
    background: url("Images/bmep1.jpg") no-repeat 50% 50%;
    background-size: cover;
    background-clip: content-box;
    /* transform-origin: right; */
}

.ep1::before,
.ep2::before,
.ep3::before,
.ep4::before {
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    /* transform: scale(1.1); */
    transition: all 1000ms ease-in-out;
}

.ep1:hover::before {
    transform: scale(1.1);
    background-image: url("Images/bmep1-2.png");
}

.ep2:hover::before {
    transform: scale(1.1);
    background-image: url("Images/bmep2-2.jpeg");
}

.ep3:hover::before {
    transform: scale(1.1);
    background-image: url("Images/bmep3-2.jpg");
}

.ep4:hover::before {
    transform: scale(1.1);
    background-image: url("Images/bmep4-2.jpg");
}

.ep1:active::before,
.ep2:active::before,
.ep3:active::before,
.ep4:active::before {
    opacity: 1;
    /* add something */
}

.ep2 {
    overflow: hidden;
    position: relative;
    grid-area: eps2;
}

.ep2::before {
    background: url("Images/bmep2.jpg") no-repeat 50% 50%;
    background-size: cover;
    background-clip: content-box;
    transform-origin: center;
}

.ep3 {
    overflow: hidden;
    position: relative;
    grid-area: eps3;
}

.ep3::before {
    background: url("Images/bmep3-2.png") no-repeat 50% 50%;
    background-size: cover;
    background-clip: content-box;
    transform-origin: top center;
}

.ep4 {
    overflow: hidden;
    position: relative;
    grid-area: eps4;
}

.ep4::before {
    background: url("Images/bmep4.jpg") no-repeat 50% 50%;
    background-size: cover;
    background-clip: content-box;
    transform-origin: top center;
}

.current-episode {
    opacity: 0.5;
}

iframe {
    margin: 20px auto;
    display: block;
    padding: 30px;
    width: 560px;
    height: 315px;
    background-color: black;
    border-radius: 30px;
    box-shadow: 0px 10px 6px var(--black);
    transform-origin: center;
}

.container {
    width: 80%;
    margin: 40px auto;
    border-radius: 3px;
    padding: 10px 10px;
    background-color: var(--light);
    box-shadow: 0px 2px 4px var(--black);
    /* display: block; */
}

.container h1 {
    font-size: 1.5rem;
    /* display: block; */
    color: var(--black);
    /* background-color: var(--blue); */
}

.container blockquote {
    font-style: italic;
    border-left: 5px solid var(--dark);
    width: 80%;
    text-align: center;
    margin: 50px auto;
    padding: 10px;
    line-height: 1.5rem;
}

.container blockquote span {
    color: var(--black);
    font-style: normal;
    font-weight: 700;
    position: relative;
    bottom: 0px;
}

.container p {
    font-size: 0.8rem;
    line-height: calc(0.8rem*1.5);
    text-align: center;
    color: var(--dark);
}

.title {
    text-align: center;
    text-transform: uppercase;
}

.critics {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.critics h3 {
    text-align: center;
}

#casting_grid {
    display: grid;
    width: 100%;
    margin: 10px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

/* Style de chaque image */

.cast {
    /* display: grid; */
    /* width: 100%; */
    grid-column: auto;
    margin: 10px;
    align-self: center;
    /* display: inline-block; */
}

/* .cast a{
    display: inline-block;
} */

.cast h5 {
    text-align: center;
}

.cast img {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 20% 0%;
    /* border: 1px solid #222222; */
    
}

/* .authors img:nth-child(1)::before{
    content: "Yo";
    height: 20px;
    width: 20px;
    display: block;
    position: relative;
    
    border: 2px solid blue;

} */

footer {
    position: relative;
    height: 10vh;
    bottom: 0px;
    width: 100%;
    background-color: grey;
    display: grid;
    margin-top: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

footer p {
    grid-row: 1/2;
    grid-column: 1/4;
    color: whitesmoke;
}

hr {
    border-bottom: 2px dotted var(--dark);
    width: 70%;
    margin: auto;
    color: transparent;
}

@media screen and (min-width:150px) {
    .nav-episode a {
        font-size: 0.8rem;
    }
    .container p,
    blockquote {
        font-size: 0.7rem;
    }
    .container h1 {
        font-size: 1rem;
    }
    header h2,
    h3 {
        font-size: 0.6rem;
    }
    footer p {
        font-size: 0.5rem;
    }
    #main-menu {
        width: 100%;
        height: 50vh;
    }
}

@media screen and (min-width:300px) {
    .nav-episode a {
        font-size: 1rem;
    }
    .container p,
    blockquote {
        font-size: 0.8rem;
    }
    .container h1 {
        font-size: 1.2rem;
    }
    header h2,
    h3 {
        font-size: 0.8rem;
    }
    footer p {
        font-size: 0.6rem;
    }
    #main-menu {
        width: 100%;
        height: 60vh;
    }
}

@media screen and (min-width:600px) {
    .nav-episode a {
        font-size: 1.3rem;
    }
    .container p,
    blockquote {
        font-size: 0.9rem;
    }
    .container h1 {
        font-size: 1.4rem;
    }
    header h2,
    h3 {
        font-size: 1.3rem;
    }
    footer p {
        font-size: 0.7rem;
    }
    #main-menu {
        width: 100%;
        height: 70vh;
    }
}

@media screen and (min-width:900px) {
    .nav-episode a {
        font-size: 1.6rem;
    }
    .container p,
    blockquote {
        font-size: 1rem;
    }
    .container h1 {
        font-size: 1.6rem;
    }
    header h2,
    h3 {
        font-size: 1.5rem;
    }
    footer p {
        font-size: 0.8rem;
    }
    #main-menu {
        width: 100%;
        height: 84vh;
    }
}